<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current order</title>
</head>
<body>
<h1>Your burger is preparing. Let's fill the delivery form</h1>
<form method="post" th:object="${order}">
    <div class="order-group" id="order">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="name" th:field="*{deliveryName}"><br>
        <label for="street">Street</label>
        <input type="text" id="street" placeholder="Street" th:field="*{deliveryStreet}"><br>
        <label for="city">City</label>
        <input type="text" id="city" placeholder="City" th:field="*{deliveryCity}"><br>
        <label for="state">State</label>
        <input type="text" id="state" placeholder="State" th:field="*{deliveryState}"><br>
        <label for="zip">Zip</label>
        <input type="text" id="zip" placeholder="Zip" th:field="*{deliveryZip}"><br>
        <label for="creditCardNumber">Number of credit card</label>
        <input type="text" id="creditCardNumber" placeholder="Number of credit card" th:field="*{ccNumber}"><br>
        <label for="creditCardExpiration">Credit card expiration</label>
        <input type="text" id="creditCardExpiration" placeholder="Credit card expiration" th:field="*{ccExpiration}"><br>
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" placeholder="CVV" th:field="*{ccCVV}"><br>
        <button>Confirm your delivery</button>

        <h3><a href="/design">Return to design another burger</a></h3>

    </div>
</form>
</body>
</html>